# Yandex Mail ile:
SMTP_HOST=smtp.yandex.com
SMTP_PORT=587
SMTP_USER=info@ertugrulozer.com.tr
SMTP_PASSWORD=YandexHesapSifreniz

# VEYA Gmail ile (App Password gerekli):
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=sizin@gmail.com
# SMTP_PASSWORD=AppPasswordBuraya
